body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at top, #ffffff, #ffe3f0);
    overflow: hidden;
    text-align: center;
    color: #333;
}

.screen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
}

.hidden {
    display: none;
}

.active {
    display: flex;
}

#login-screen input {
    margin: 8px;
    padding: 10px 14px;
    border: 2px solid #6e6c6f;
    border-radius: 8px;
    outline: none;
}

#login-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #aea7a7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

#login-btn:hover {
    transform: scale(1.05);
}

#error-msg {
    color: rgb(90, 91, 93);
    margin-top: 10px;
}

.cake img {
    width: 290px;
    height: auto;
    border-radius: 10px;
}

.cake:hover {
    transform: scale(1.1);
}

.wishes {
    max-width: 450px;
    margin: 40px auto;
    background: #d6d5d7;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px #585656df;
    animation: fadeIn 2s ease;
    position: center;
    bottom: 25px;
    left: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.light-ring {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 50%;
    pointer-events: none;
    overflow: visible;
    animation: rotateRing 10s linear infinite;
}

@keyframes floatDust {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.6;
    }

    50% {
        transform: translateY(-20px) scale(1.3);
        opacity: 1;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 0.6;
    }
}

.flash {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: radial-gradient(circle, rgb(126, 123, 127) 0%, transparent 70%);
    opacity: 0.8;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    animation: flashExpand 0.8s ease-out forwards;
}

@keyframes flashExpand {
    0% {
        width: 0;
        height: 0;
        opacity: 0.8;
    }

    50% {
        width: 300px;
        height: 300px;
        opacity: 0.5;
    }

    100% {
        width: 600px;
        height: 600px;
        opacity: 0;
    }
}

.stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.star {
    position: absolute;
    top: -20px;
    color: rgb(217, 208, 208);
    font-size: 12px;
    animation: fall linear infinite;
    opacity: 0.9;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(110vh) rotate(360deg);
    }
}